.contactContainer {
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-top: 50px;
  font-family: "Quicksand";
  display: flex;
  align-items: center;
  margin: 0 5rem;
  flex-direction: column;
}

.contactRight .contactMe {
  font-family: "Quicksand";
}

.formContainer {
  font-family: "Quicksand";
  padding-left: 0;
  width: 50%;
}

form {
  font-family: "Quicksand";
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  padding-top: 2rem;
}

input,
textarea {
  font-family: "Quicksand";
  background-color: var(--light);
  border: none;
  border-bottom: solid 2px var(--dark);
}

textarea {
  font-family: "Quicksand";
  height: 150px;
  padding: 10px;
  border-bottom: 2px solid var(--dark);
  box-sizing: border-box;
  resize: none;
}

input {
  height: 25px;
}

/* Move the label element up to align it with the textarea */
label[for="message"] {
  position: relative;
  bottom: 35px;
}

/* Hide the placeholder when the textarea is not empty */
textarea:not(:placeholder-shown) {
  border-color: var(--dark);
  /* change the border color to indicate the textarea is not empty */
}

/* Show the placeholder on the bottom border */
textarea::placeholder {
  font-family: "Quicksand";
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--dark);
}

/* Show the placeholder inside the input elements */
input::placeholder {
  position: absolute;
  bottom: 4px;
  left: 10px;
  color: var(--dark);
}

/* Add spacing between the input elements */
input + input,
textarea + input,
input + textarea {
  font-family: "Quicksand";
  margin-top: 10px;
}

/* Hide the placeholder when the input elements are not empty */
input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  font-family: "Quicksand";
  border-color: var(--bright);
  /* change the border color to indicate the input elements are not empty */
}

.contactRight {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 50%;
  line-height: 1.5;
  font-family: "Quicksand";
}

.submit-btn {
  display: flex;
  flex-direction: row;
  width: 200px;
}

@media screen and (max-width: 1040px) {
  .contactContainer {
    flex-direction: column;
    margin: 0;
  }

  .formContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 30vh;
  }

  form {
    width: 100%;
  }

  .submit-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactRight {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Quicksand";
  }

  .contactRight h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand";
  }

  .contactLeft,
  .contactRight {
    padding-bottom: 3rem;
  }
  input {
    height: 25px;
  }

  /* Move the label element up to align it with the textarea */
  label[for="message"] {
    position: relative;
    bottom: 35px;
  }

  /* Hide the placeholder when the textarea is not empty */
  textarea:not(:placeholder-shown) {
    border-color: var(--dark);
    /* change the border color to indicate the textarea is not empty */
  }

  /* Show the placeholder on the bottom border */
  textarea::placeholder {
    font-family: "Quicksand";
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--dark);
  }

  /* Show the placeholder inside the input elements */
  input::placeholder {
    position: absolute;
    bottom: 4px;
    left: 10px;
    color: var(--dark);
  }

  /* Add spacing between the input elements */
  input + input,
  textarea + input,
  input + textarea {
    font-family: "Quicksand";
    margin-top: 10px;
  }

  /* Hide the placeholder when the input elements are not empty */
  input:not(:placeholder-shown),
  textarea:not(:placeholder-shown) {
    font-family: "Quicksand";
    border-color: var(--bright);
    /* change the border color to indicate the input elements are not empty */
  }
}
