.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  height: 70px;
}

.site-header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fffef3;
  color: #9d7064;
  height: var(--nav-height);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.brand {
  justify-content: center;
  left: 0;
  margin-right: 0;
}
.left-menu {
  justify-content: flex-end;
}
.right-menu {
  justify-content: flex-start;
}

.nav-link {
  text-decoration: none;
  padding: 10px;
}

.nav-link:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
